ion-content {
  --ion-background-color: #536d6c;
}

.container {
  background-color: #536d6c;
  display: flex;
  justify-content: center;
}

.home_button_div {
  position: fixed;
  height: 10vh;
  width: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.menu {
  bottom: 0;
  right: 0;
}

.up {
  top: 0;
  left: 0;
}

.right {
  display: flex;
  flex-direction: column;
  top: 20px;
  right: 0;
}

.down {
  bottom: 0;
  left: 0;
}

section {
  height: 50vh;
}
