$square-size: 80vw;
$image_space_percent: 90%;

.card {
  height: $square-size;
  width: $square-size;
}

.chessboard_buttons_div {
  display: flex;
  justify-content: space-evenly;
}

.info_div {
  position: relative;
  width: 100%;
  height: 100% - $image_space_percent;
  background-color: #f5f2f2;
  color: black;
  font-size: 0.6rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 2fr 1fr;
  background-color: #7e9182;
}

.modal_section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.move_notation_buttons {
  display: flex;
  justify-content: space-between;

  ion-button {
    border: 1px solid black;
    border-radius: 5%;
    color: black;
    background-color: white;
  }
}

.opponent {
  display: flex;
  justify-content: center;
}

.pgn_div {
  width: 100%;
  height: 100%;
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  background-color: #ccc;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  text-align: justify;
  font-size: 0.8em;
}

.rating {
  position: absolute;
  right: 0;
  font-size: 1.3em;
  top: 1%;
}

.result {
  font-size: 0.5em;
}

// .set_all_default {
// }

.time_format {
  font-size: 1.5em;
}
